.webform .form-group label{
    display: none;
}

.webform {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.webform .form-group input:-webkit-autofill {
    background-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  }