@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-green: #24D5D1;
}

.grecaptcha-badge {
    visibility: hidden;
}

html {
    font-family: 'Open Sans', sans-serif;
  }

.colorGreen {
    color: var(--color-green);
}  
.container {
    width: 1170px;
    max-width: 100%;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 970px;
    }
}


@media screen and (max-width: 990px) {
    .container {
        width: 740px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: auto;
    }
}
