
.ourClients .custom-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    margin-bottom: -60px;
  }

.ourClients .custom-dot {
    width: 10px;
    height: 10px;
    border: 1px solid var(--color-green);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
  }
  
.ourClients .custom-dots .slick-active .custom-dot {
    background: var(--color-green);
  }

@media screen and (max-width: 640px) {
  .ourClients .custom-dots {
      gap: 0;
      padding: 5px 0;
      margin-bottom: 10px;
    }

   .ourClients .custom-dot {
      width: 5px;
      height: 5px;
    }

  .ourClients .slick-dots li {
      width: 7px;
      height: 5px;
    }

}  